<div class="container">
    <Form class="login_form">
        <div class="login_header">
            <h2>Авторизация</h2>
        </div>
        <div class="input_container">
            {{> Input placeholder="Логин" class="login_form_input" name="login"}}
            {{> Input placeholder="Пароль" class="login_form_input" type="password" name="password"}}
        </div>
        <div class="btn_container">
            {{> Button label="Войти" type="primary"}}
            {{> Button label="Регистрация" type="secondary"}}
        </div>
    </Form>
</div>

