{{!-- <main class="pass-edit-container">
    {{> ButtonNav}}
    <Form class="pass-edit-form">
        <div class="pass-edit-input-container">
            {{> Input label="Старый пароль" placeholder="········" class="pass-edit-input" type="password" name="oldPassword"}}
            {{> Input label="Новый пароль" placeholder="········" class="pass-edit-input" type="password" name="newPassword"}}
            {{> Input label="Повторите пароль" placeholder="········" class="pass-edit-input" type="password" name="newPassword"}}
        </div>
        <div class="pass-edit-btn-container">
            {{> Button label="Сохранить" type="primary"}}
            {{> Button label="Выйти" type="secondary"}}
        </div>
    </Form>
</main>
 --}}
