.pass-edit-container {
    display: flex;
    height: 650px;
}

.pass-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pass-edit-input-container {
    display: flex;
    flex-direction: column;
}

.pass-edit-btn-container {
    width: 256px;
    margin-left: auto;
    margin-right: auto;
}
