.input__element {
    display: flex;
    padding: 0.5rem;
}

.pass_edit_input,
.profile_edit_input {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid lightgray;
}

.pass_edit_input.input__element,
.profile_edit_input.input__element {
    border: 0!important;
}

.reg_form_input,
.login_form_input {
    width: 17rem;
    border: 0;
    border-bottom: 2px solid lightgray;
    margin-bottom: 1rem;
}

.pass_edit_input,
.profile_edit_input,
.profile_edit_input::placeholder {
    text-align: right;
}

.pass_edit_input,
.profile_edit_input {
    flex-direction: row;
}

.input__container:has(.pass_edit_input),
.input__container:has(.profile_edit_input) {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 40rem;
    margin: .5rem;
    
}

.input__label {
    font-size: 14px;
}

.input__value {
    font-size: 14px;
    color: gray;
}

.chat_search_input {
    background-color: #EFEFEF;
    width: 370px;
    border: 0;
    border-radius: 12px;
}

.chat_search_input::placeholder {
    color: lightgray;
}
