<div class="input__container">
    <input
        class="input__element {{class}}"
        placeholder="{{placeholder}}"
        type="{{type}}"
    />
    <span class="input__label">{{label}}</span>
</div>