<div class="input" >
    {{!-- <div class="form_header"></div> --}}
    <div class="input__container {{class}}">
        <input
            class="input__element"
            placeholder="{{placeholder}}"
            type="{{type}}"
        />
        <span class="input__label">{{label}}</span>
    </div>
</div>