.container {
    display: flex;
    justify-content: center;
}

.modal-window-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px 30px;
    width: 340px;
    height: 260px;
    box-shadow: 0 0 6px 0 gray;
    border-radius: 12px;
    background-color: white;
}   

.modal-window-header {
    display: flex;
    justify-content: center;
}

.modal-window-footer {
    display: flex;
    flex-direction: column;
}

.modal-window-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-body {
    margin-bottom: 1rem;
}

