{{!-- <li class="chat_item {{#if active}}chat_item_active{{/if}}">
    {{> Avatar class="chat_item_avatar" label=""}}
    <div class="chat_item_label">{{label}}</div>
    <div class="chat_item_text">{{text}}</div>
    <div class="chat_item_datetime">{{datetime}}</div>
    {{#if counter}}<div class="chat_item_counter">{{counter}}</div>{{/if}}
</li> --}}