{{!-- <li class="chat-item {{#if active}}chat-item-active{{/if}}">
    {{> Avatar class="chat-item-avatar" label=""}}
    <div class="chat-item-label">{{label}}</div>
    <div class="chat-item-text">{{text}}</div>
    <div class="chat-item-datetime">{{datetime}}</div>
    {{#if counter}}<div class="chat-item-counter">{{counter}}</div>{{/if}}
</li> --}}
