<main class="chat_container">
    {{> ButtonNav}}

    <div class="chat_list_container">
        <div class="chat_top_menu">
            {{> ButtonMenu}}
            {{> Input placeholder="Поиск" class="chat_search_input"}}
        </div>
    </div>
    <div class="chat_content">
        <p>Выберите чат чтобы начать общение</p>
    </div>
</main>

