{{!-- <main class="chat-container">
    {{> ButtonNav}}

    <div class="chat_list-container">
        <div class="chat-top-menu">
            {{> ButtonMenu}}
            {{> Input placeholder="Поиск" class="chat-search-input"}}
        </div>
        <div class="chat_item_list">
            {{> ChatList}}
        </div>
    </div>
    <div class="chat-content">
        <header class="chat-content-header">
            {{> Avatar class="avatar-chat-content-header"}}
            <div class="chat-content-header-label">"Label"</div>
            {{!-- <div class="chat-content_settings">Settings</div> --}}
            {{> ButtonNav class="chat-header-menu"}}

        </header>
        <main class="message-list">
            {{> MessageList}}
            {{!-- <p>Выберите чат чтобы начать общение</p> --}}
        </main>
        <footer class="chat-content-footer">
            {{> ButtonNav class="chat-footer-add"}}
            {{> Input class="chat-content-send-message" placeholder="Сообщение" name="message"}}
            {{> ButtonNav class="chat-footer-send"}}
        </footer>
    </div>
</main>
 --}}
