.chat_container {
    width: 1280px;
    height: 720px;
    flex-direction: row;
    display: flex;
}

.chat_item_conteiner {
    min-width: 430px;
    height: 720px;
    background-color: #FBFBFB;
    border: 1px solid lightgray;
    overflow: auto;
}

.chat_top_menu {
    display: flex;
    width: 430px;
    justify-content: space-around;
    height: 30px;
    margin-top: 1rem;
}

