<main class="nav_menu">
    <ul>
        <li><a href="#" page="login">Login</a></li>
        <li><a href="#" page="registration">Registration</a></li>
        <li><a href="#" page="error404">404</a></li>
        <li><a href="#" page="error500">500</a></li>
        <li><a href="#" page="profile">Profile</a></li>
        <li><a href="#" page="profile_edit">Profile Edit</a></li>
        <li><a href="#" page="pass_edit">Pass Edit</a></li>
        <li><a href="#" page="chat">Chat</a></li>
    </ul>
</main>
