<ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="registration">Registration</a></li>
    <li><a href="#" page="error404">404</a></li>
    <li><a href="#" page="error500">500</a></li>
    <li><a href="#" page="profile">Profile</a></li>
</ul>