.form-string-container {
    display: flex;
    justify-content: space-between;
    width: 541px;
    margin: 10px;
    border-bottom: 1px solid lightgray;
}

.form-string-label {
    font-size: 14px;
}

.form-string-value {
    font-size: 14px;
    color: gray;
}
