.container {
    display: flex;
    justify-content: center;
}

.profile_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px 30px;
    width: 600px;
    height: 620px;
}   


