.button_menu a{
    display: flexbox;
    width: 100%;
}

.menu_line {
    width: 25px;
    height: 1px;
    background-color: #828282;
    border-radius: 25%;
    margin: 6px 0;
    position: relative;
}