
.chat-content {
    border: 1px solid lightgray;
    border-left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

header.chat-content-header,
footer.chat-content-footer {
    display: flex;
    background-color: #FBFBFB;
    align-items: center;
}

header.chat-content-header {
    justify-content: space-between;
    padding: 2px;
    border-bottom: 1px solid lightgray;
}

footer.chat-content-footer {
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.chat-content-header-label {
    font-size: 13px;
    font-weight: 800;
    margin-left: 10px;
}

.chat-content-header .avatar-container {
    margin-left: 10px;
}

.message-list {
    flex-direction: column;
}
