.button-round {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.button-back {
    background-color: lightgray;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.button-back::before {
    content: "←";
    color: white;
    display: block;
    font-size: 2rem;
}

.chat-header-menu {
    margin-left: auto;
    background-color: #B1B1B1;
}

.chat-header-menu::before {
    content: "⋮";
    color: white;
    display: block;
    font-size: 2rem;
}

.chat-footer-send {
    background-color: #000;
}

.chat-footer-send::before {
    content: "▶";
    color: white;
    display: block;
    font-size: 2rem;
    margin-left: 5px;
}

.chat-footer-add {
    background-image: 
        url("../../assets/pin.png");
    background-size: cover;
    transform: rotate(90deg) scale(-1, 1);
}

