{{!-- <main class="container">
    <Form class="login-form">
        <div class="login-header">
            <h2>Авторизация</h2>
        </div>
        <div class="input-container">
            {{> Input placeholder="Логин" class="login-form-input" name="login"}}
            {{> Input placeholder="Пароль" class="login-form-input" type="password" name="password"}}
        </div>
        <div class="btn-container">
            {{> Button label="Войти" type="primary"}}
            {{> Button label="Регистрация" type="secondary"}}
        </div>
    </Form>
</main>
 --}}
