.avatar-container:has(.avatar-profile){
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.avatar-container:has(.chat-item-avatar){
    width: fit-content;
    margin-left: 10px;
}

.avatar-profile {
    width: 123px;
    height: 123px;
    border-radius: 50%;
}

.avatar-chat-content-header,
.chat-item-avatar {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.avatar-label {
    font-size: 16px;
    font-weight: 700;
}

.chat-content-header .avatar-container {
    cursor: pointer;
}
