{{!-- <div class="message {{#if class}}{{class}}{{/if}}">
    {{#if text}}<div class="message-text">{{text}}</div>{{/if}}
    {{#if datetime}}<div class="message-datetime">{{datetime}}</div>{{/if}}
    {{#if image}}<img class="message-image" src="{{image}}"></img>{{/if}}
</div> --}}
