.message {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.05);
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message:not(.message_current_user) {
    background-color: #EFEFEF;
    text-align: left;
}

.message_current_user {
    background-color: #454545;
    text-align: right;
    color:white;
    align-self: flex-end;
    margin-right: 20px;
}

.message .message_datetime {
    font-size: 11px;
    text-align: right;
}

.message_current_user .message_text {
    margin-right: 50px;
}