.message {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message:not(.message-current-user) {
    background-color: #EFEFEF;
    text-align: left;
}

.message-current-user {
    background-color: #454545;
    text-align: right;
    color:white;
    align-self: flex-end;
    margin-right: 20px;
}

.message .message-datetime {
    font-size: 11px;
    text-align: right;
}

.message-current-user .message-text {
    margin-right: 50px;
}
